# ───── Flutter/Dart build and tools ─────
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.symlinks/
.pub/

# ───── Firebase / Env / Secrets ─────
.env
.env.*.local
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# ───── IDEs ─────
.vscode/
.idea/
*.iml

# ───── Platform-specific ─────
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/android/.gradle/
**/android/app/build/

# ───── Generated Code ─────
**/*.g.dart
**/*.freezed.dart

# ───── Artifacts & Archives ─────
*.zip

# ───── Misc ─────
.DS_Store
