<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrPF7-gNElARHCXxo-G5fqjKSvuYQvB4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>86708810215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nurseos.nurseosV3</string>
	<key>PROJECT_ID</key>
	<string>nurse-os</string>
	<key>STORAGE_BUCKET</key>
	<string>nurse-os.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86708810215:ios:822cc9d829562373a60d42</string>
</dict>
</plist>